<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:if="${userName} != null" th:text="'Hello, ' + ${userName}"></h1>
    <h1>Account Page</h1>

    <span th:if="${message} != null">
        <h1 th:text="${message}"></h1>
    </span>

    <span th:if="${errorMessage} != null">
        <h1 th:text="'Error: ' + ${errorMessage}"></h1>
    </span>

    <a href="/changePassword">Change password</a><br>
    <a href="/changeInformation">Change information</a><br>
    <a href="/showInformation">Show information</a><br>
    <a href="/deleteUser">Delete user</a><br>
    <a href="index.html">Home page</a><br>

    <span th:if="${userData} != null">
        <h1>User information</h1>
        <hr>
        <h2 th:text="'User name: ' + ${userData.userName}"></h2>
        <h2 th:text="'User password: ' + ${userData.userPassword}"></h2>
    </span>

</body>
</html>